<!DOCTYPE html>
<%= partial :"head" %>
<body>
  <%= partial :"header" %>
  <div class="container main-container clearfix">
    <div class="eight columns alpha">
      <%= yield %>
    </div>
    <div class="eight columns omega">
      <a class="root" href="/"><img src="imgs/logo.png" class="logo" alt="Logo"/></a>
    </div>
  </div><!-- container -->
  <hr />
  <%= partial :"footer" %>
</body><!-- End Document-->
</html>
