@import "skeleton/base";
@import "skeleton/skeleton";
@import "skeleton/layout";

$blue: #3bbfce;
$margin: 16px;

.disclaimer{
  border-color: $blue;
  color: darken($blue, 9%);
}

.border{
  padding: $margin / 2;
  margin: $margin / 2;
  border-color: $blue;
}
